<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
<%= render partial: "tags/tag_list", locals: {tags: @question.tags} %>
</p>

<%= render partial: 'answers/index', locals: { answers: @answers, question: @question, answer_order: @answer_order } %>
<%= render partial: 'answers/form', locals: { answer: @answer, question: @question } %>

<div id="favorites-button">
  <%= render partial: 'favorites/favorite', locals: { question: @question} %>
</div>

<span data-turbolinks="false"><%= link_to 'Edit', edit_question_path(@question) %></span> |
<%= link_to 'Back', questions_path %>
